
<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active">
				<a href="#">home</a>
			</li>
			<li role="presentation">
				<a href="#">list project</a>
			</li>
			<li role="presentation">
				<a href="#">add project</a>
			</li>
			<li role="presentation">
				<a href="#">login</a>
			</li>
			<li role="presentation">
				<a href="#">register</a>
			</li>
		</ul>
	</div>
</footer>
